%ul.side-nav
  - childs.each_with_index do |(api, kids), index |
    %li{ :class => "#{selected_if_path_includes(api.permalink)} channel_color_border simple-navigation-active-leaf" }
      = link_to api.title, api.permalink, :class => "#{selected_if_path_includes(api.permalink)} channel_color_border"
      - unless kids.empty?
        = render "navlist", :childs => kids
