= form_tag search_path, method: :get, class: 'search_form' do
  = text_field_tag :q, params[:q], :placeholder => 'Search Manuals', :class => 'icons-magnifying_glass'
  = hidden_field_tag :index, "Manual"
  = submit_tag "GO", name: nil
